.screening-container {

    img {
        max-height: 300px;
        width: 200px;
        object-fit: cover;
    }

    h2 {
        text-align: start;
        text-shadow: 4px 2px 3px rgb(0 0 0);
    }

    .slotsToggle {
        max-width: 600px;
    }
}