.carousel__container {
    display: block;

    // .carousel-home {}

    .carousel-item {
        // overflow: hidden;
        // object-fit: fill;
        // object-position: bottom;
        max-height: 60vh;
        min-height: 40vh;
        object-fit: scale-down;
        object-position: center;
    }

    .carousel-home {

        img {
            // overflow: hidden !important;
            max-width: 1920px;
        }
    }
}