.movie-title {
  align-self: flex-start;
  justify-self: flex-start;
  margin-left: 10px;
  font-style: italic;
  font-size: 20px;
}
.movie-container {
  border-radius: 10px;
}
.btn-screening {
  margin-right: 10px;
}
.btn-buy {
  align-self: flex-end;
}
