.check-icon {
    font-size: 7rem;
    color: rgb(30, 118, 30);
    text-shadow: 4px 2px 3px rgb(0 0 0);
}


@media(max-width: 767px) {
    .booking__container {
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
}