.reg-style {
  background-color: #7c050f;
  color: #edd382;
  border-radius: 6px;
}
.text-style {
  text-align: center;
}
.login-link {
  color: white;
}
.hide {
  display: none;
}

.valid {
  color: rgb(15, 225, 15);
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(243, 7, 7);
  margin-left: 0.25rem;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
