.detailMovie__container {

    .titlePoster__container {
        max-width: 500px;
    }

    img {
        max-height: 300px;
        box-shadow: 4px 2px 3px rgb(0 0 0);
    }


}

.movieContent {
    p {
        font-size: 1.3rem;
        vertical-align: center;
        margin-bottom: 1.5rem;
        text-align: left;
    }
}

.chooseMovie_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .movieContent {
        p {
            font-size: 1rem;
            vertical-align: center;
            margin-bottom: 0.5rem;
            text-align: center;
        }
    }

    .hideOnMobile {
        display: none;
    }

}