.theatre-info-design {
  background-image: url("./assets/cinema.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-end;
}
.theatre-description-design {
  border-radius: 10px;
  color: #660708;
  opacity: 100%;
  box-shadow: none;
}
