.nav {
    // background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    color: #EDD382;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    box-shadow: 1px 3px 43px 6px rgba(0, 0, 0, 0.79);
    position: absolute;
    width: 100%;
    z-index: 10;
    height: 110px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;

    div {
        margin-left: 30px;
        margin-right: 30px;
    }

    img {
        height: 100px;
    }

    .navbar-nav {
        display: flex;
        gap: 3rem;
        justify-content: space-between;
        align-items: center;

        div {
            display: flex;
            gap: 3rem;
        }

    }

}