.addTheatreForm {

    .form-control {
        background-color: #8f8989 !important;
        border: 1px solid #660708;
    }

    label {
        color: #660708;
        font-size: 1.2rem;
        margin-top: 0.5rem;
        font-weight: 500;
        ;
    }

    .form-control:focus {
        border-color: #660708;
        color: #660708;
        box-shadow: 0 0 0 0.25rem #66070840;
    }

    .form-control::placeholder {
        color: #660708;

    }

    input[type=file]::file-selector-button {
        background-color: #660708 !important;
        color: #F7B538;
    }
}