.card-container {
  max-width: 450px;
  height: 100%;
}

.theatreCard {
  text-shadow: 2px 2px 2px rgb(0 0 0);
  box-shadow: inset 1px 0px 13px 8px rgba(166, 166, 166, 0.19);
  height: 400px;
  // width: 450px;

  img {
    height: 220px;
    width: 400px;
    object-fit: cover;
  }

  p {
    margin-bottom: 0;
  }

  .theatreTitle {
    font-size: 1.5rem;
  }
}

.theatreCard:hover {
  box-shadow: inset 1px 0px 24px 20px rgba(202, 202, 202, 0.24);

}

.card-body {
  height: 180px;
}